<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head.html"></head>
<body>
<div class="container" id="profile">
    <div th:replace="fragments/navbarUser.html :: navbarParams(isAuthenticated=${isAuthenticated},currentUsername=${currentUsername})"></div>
    <span style="color: #CC0000" th:text="${errorMsg}"></span>
    <div class="row">
        <ul style="margin-left: 20px">
            <li th:each="cartItem : ${cartItems}">
                <span th:text="${cartItem.productName + ' - '}"></span>
                <input type="number" min='1' readonly th:itemid="${cartItem.productId}"
                       style="width: 50px; height: 25px; padding: 3px;" th:value="${cartItem.count}">
                <span th:text="${' x ' + cartItem.productPrice + ' &euro; = '}"></span>
                <span th:text="${cartItem.getTotalPrice()}"></span>&euro;
            </li>
        </ul>
    </div>
    <form method="post" th:action="@{/cart/checkout}" th:object="${profileData}">
        <div class="row g-3">
            <div class="col-auto">
                <label for="customer_name" class="col-sm-2 col-form-label">Name:</label>
                <input type="text" class="form-control" id="customer_name" name="customer_name" th:field="*{name}">
            </div>
            <div class="col-auto">
                <label for="customer_address" class="col-sm-2 col-form-label">Address:</label>
                <input type="text" class="form-control" id="customer_address"  th:field="*{address}">
            </div>
            <div class="col-auto">
                <label for="customer_city" class="col-sm-2 col-form-label">City:</label>
                <input type="text" class="form-control" id="customer_city"  th:field="*{city}">
            </div>
            <div class="col-auto">
                <label for="customer_country" class="col-sm-2 col-form-label">Country:</label>
                <input type="text" class="form-control" id="customer_country"  th:field="*{country}">
            </div>
            <div class="col-auto">
                <label for="customer_email" class="col-sm-2 col-form-label">Email address:</label>
                <input type="text" class="form-control" id="customer_email"  th:field="*{email}">
            </div>
            <div class="col-auto">
                <label for="customer_phone" class="col-sm-2 col-form-label">Phone number:</label>
                <input type="text" class="form-control" id="customer_phone"  th:field="*{phone}">
            </div>
        </div>
        <div class="row g-3"><br><br></div>
        <div class="row g-3">
            <div class="col-auto">
                <button class="btn btn-primary mb-3" type="submit" th:text="${' Checkout ' + '('+ totalCartAmount + ' &euro; )'}">Checkout</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>